body {
  margin: 1rem;
  font-family: "Crimson Text", serif;
  font-size: 20px;
}

h1,
h2 {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
  color: black;
  text-decoration-thickness: 1px !important;
  text-underline-offset: 0.1em;
}
a.no-underline {
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}

/* Add underline to all links on touchscreens */
@media (hover: none) {
  a.no-underline {
    text-decoration: underline;
  }
}
a.button {
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
a.button:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.name-and-title {
  width: fit-content;
  width: -moz-fit-content;
  margin: 3rem auto;
}
.name-and-title h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 5em;
  line-height: 100%;
}
.name-and-title h2 {
  display: inline-block;
  font-weight: 400;
  color: rgb(128, 179, 51);
}

.contact-info {
  display: flex;
  list-style: none;
  padding: 0;
}
.contact-info li {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}
.contact-info i {
  padding-right: 0.5rem;
}

main {
  width: 80%;
  margin: auto;
}

.intro {
  margin: 2.5rem auto;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 0;
  border-top: 1px dotted black;
}
.project:nth-of-type(even) {
  flex-direction: row-reverse;
}
.project img {
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 5px 5px 5px rgb(204, 204, 204);
}
.project h2 {
  font-weight: 400;
}

.note {
  font-size: 0.9em;
  text-indent: 1em;
  color: rgb(115, 115, 115);
}

.techs {
  font-style: italic;
  color: rgb(51, 51, 51);
}

.cccnj {
  padding: 1rem 0;
  border-top: 1px dotted black;
}
.cccnj h2 {
  font-weight: 400;
}

@media (max-width: 1000px) {
  .name-and-title h1 {
    font-size: 9.5vw;
  }
  .contact-info {
    justify-content: space-around;
  }
  .contact-info li {
    flex: none;
  }
  .project,
  .project:nth-of-type(even) {
    flex-direction: column;
    gap: 1rem;
  }
  .project .details {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .name-and-title {
    margin-bottom: 2rem;
  }
  .contact-info {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .name-and-title h2 {
    font-size: 1em;
  }
  main {
    width: 100%;
  }
  .project img {
    max-width: 100%;
  }
}
