/*
TODO: projects
	text stuff, row differentiation, image
TODO: less boring
TODO: mobile
*/

body {
	margin: 1rem;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}

h1,
h2 {
	margin: 0;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	text-decoration: underline;
}

a.button {
	padding: 0.375rem 0.75rem;
	border: 1px solid black;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

a.button:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}

.name-and-title {
	width: fit-content;
	width: -moz-fit-content;
	margin: 3rem auto;
}

.name-and-title h1 {
	display: inline-block;
	font-weight: 400;
	font-size: 5em;
	line-height: 100%;
}

.name-and-title h2 {
	display: inline-block;
	font-weight: 400;
	color: rgb(30%, 30%, 30%);
}

.contact-info {
	display: flex;
	list-style: none;
	padding: 0;
}

.contact-info li {
	flex: 1;
	text-align: center;
}

.contact-info i {
	padding-right: 0.5rem;
}

/* TODO: size  */
main {
	width: 1000px;
	margin: auto;
}

.intro {
	margin: 2.5rem auto;
}

.project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	/* margin: 2rem auto; */

	padding: 1rem 0;
	border-top: 1px dotted black;
}

.project:nth-of-type(even) {
	flex-direction: row-reverse;
}

/* TODO: image size (add to html, too) */
.project img {
	width: 400px;
	border: 1px solid rgb(80%, 80%, 80%);
	box-shadow: 5px 5px 5px rgb(80%, 80%, 80%);
}

.project h2 {
	font-weight: 400;
}

.project .techs {
	font-style: italic;
	color: rgb(30%, 30%, 30%);
}
